<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Shopping Portal</title>
</head>
<body>
    <h1>Welcome to our Online Shopping Portal</h1>
    <ul>
        <li>
            <a href="/electronics">
                <img src="{% static 'images/electronics.jpg' %}" />
            </a>
        </li>
        <li>
            <a href="/toys">
                <img src="{% static 'images/toys.jpg' %}" />
            </a>
        </li>
        <li>
            <a href="/shoes">
                <img src="{% static 'images/shoes.jpg' %}" />
            </a>
        </li>
    </ul>
</body>
</html>